@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap'); 

:root {
    --primary-color: #356eaa;
    --secondary-color: #18394d;
    --accent1-color: #664e37;
    --accent2-lcolor: #f5eee6;
    --heading-font: "Kranky" sans;
    --paragraph-font: "Montserrat";
    --nav-background-color: #f5eee6;
    --nav-link-color: #356eaa;
    --nav-hover-link-color: #664e37;
    --nav-hover-background-color: #18394d;
    --text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    object-fit: cover;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    border: var(--border);
    padding: var(--padding);
    background-color: var(--primary-color #356eaa);
    box-sizing: var(--border-box #18394d);

}

.logo {
    width: fit-content;
    margin: 0 auto;
}

.logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

header nav {
    display: inline-flex;
    justify-content: center;
    gap: 1rem;
}

header nav a {
    font-size: 1.2rem;
    display: block;
    background-color: #356eaa;
    color: #f5eee6;
    padding: var(--padding);
    width: 150px;
    text-align: center;
    font-weight: 700;

}


.hero {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: block;
    
}
hero img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


h1{
    font-family: "Kranky", sans;
    font-weight: 800;
    color: #f5eee6;
    background-color:#18394d;
    padding: 5px;
    position: absolute;
    font-size: 5.0rem;
    font-weight: 900;
    top: 5px;
    left: 25px;
    right: 10px;
    width: 100%;
    opacity: 0.5;
    text-align:center;

}

article{
    position: absolute;
    top: 350px;
    left: 815px;
    background-color: #f5eee6;
    text-align: center;
    object-fit: cover;
}

article img {
    float: right;
    width: 175px;
    padding: 3px;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    text-align: center;
}
h2{
    font-family: "Kranky", sans-serif;
    font-weight: 900;
    color: #18394d; 

}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 1.00em;
    margin-inline-start: 8px;
    margin-inline-end: 8px;
    unicode-bidi: isolate;
    text-align: center;
    background-color: #356eaa;
    color: var(--accent2-lcolor)
   

}

p{
    font-family: "Montserrat";
    font-weight: 800;
    color:#18394d;
}

.threecolumn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:  3rem;
    justify-content: center;
}

.threecolumn h2{
    grid-column:  1 / 4;
    text-align: center;

}

.threecolumn img {
    width: 235px;
    box-shadow: 5px 10px 8px#18394d;
    
}

img {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    
}

.fivecolumns{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;   
}

.fivecolumns h2{
    grid-column: 1 / 6;

}

.fivecolumns img{
    width: 175px;
    
}

figcaption{
    text-align: left;
    font-size: 1.0rem;
    text-wrap: wrap;

}

nav a img {
    display: inline;
}

footer {
    color: #664e37
}

footer {
    margin: 2rem;
    display: inline;
    text-align: center;
    unicode-bidi: isolate;
    text-decoration: none;
}

.socialmedialinks img{
    display: flex inline;
    grid-column: 1 / 4;
    float: right;
    margin: 10px;
}

.threecolumns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    }
    
 .threecolumns h2{
    grid-column: 1 / 4;
    font-size: 2.5rem;

    
    }
    
.threecolumns img{
     width: 175px;

}

form {
    max-width: 930px;
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid #356eaa;
    margin-top: 30px;
    font-size: 1.5rem;
    display: grid;
    font-weight: 400;
}


button{
    margin: 1rem;
    background-color: #356eaa;
    color:#f5eee6;
    padding: .75rem;
    font-size: 1.25rem;
    float: right;
}

.twocolumn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.75rem;
    margin: 30px;

}
.twocolumn h2{
    grid-column: 1 / 3;
    font-size: 2.5rem;
    
}



    